* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parentDiv {
    width: 20%;
    height: 300px;
    margin: 50px auto;
    border-radius: 10px;
    text-align: center;
    color: white;
    background-color: #212123;
}

.inputDiv input {
    background-color: #212123;
    border: 3px solid aqua;
    width: 90%;
    margin-top: 15px;
    border-radius: 5px;
    height: 50px;
    
    color: white;
    padding-left: 10px;
}
.inputDiv input:hover{
    outline: none;
    border: 3px solid aqua;
}
.inputDiv input:focus{
    outline: none;
    border: 3px solid aqua;
}


.bodyDiv table {
    height: 230px;
    padding: 10px;
    width: 100%;
    border: none;
    outline: none;
}

.bodyDiv table td {
    border: 1px dashed aqua;
    
    background-color: #1E2435;
    width: 30px;
    height: 30px;
    border-radius: 3px;
}

.bodyDiv table tr{
    margin:  0px;
}